Q1. what is exactly []?

In [2]:
[] #empty list

[]

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [49]:
spam=[2,4,6,8,10]

In [50]:
spam[2]='Hello'

In [51]:
spam

[2, 4, 'Hello', 8, 10]

doubt !!! can i pace hello in 2nd position and move 6 to next place?? eg:[2,4,'hello',6,8,10]?? ### cleared it :)

In [52]:
spam.insert(3,6)

In [53]:
spam

[2, 4, 'Hello', 6, 8, 10]

In [26]:
spam

[2, 4, 'hii', 8, 10]

Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
3. What is the value of spam[int(int('3' * 2) / 11)]?
4. What is the value of spam[-1]?
5. What is the value of spam[:2]?

In [17]:
spam1=['a','b','c','d']

In [23]:
spam1[int(int('3'*2)/11)]

'd'

In [27]:
spam1[-1]

'd'

In [28]:
spam1[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
6. What is the value of bacon.index('cat')?
7. How does bacon.append(99) change the look of the list value in bacon?
8. How does bacon.remove('cat') change the look of the list in bacon?

In [29]:
bacon=[3.14,'cat',11,'cat',True]

In [30]:
bacon.index('cat')

1

In [31]:
bacon.append(99) # append method appends the values at the endof the list

In [32]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [33]:
bacon.remove('cat') # remove method removes the first avaible value in the list

In [34]:
bacon

[3.14, 11, 'cat', True, 99]

9. What are the list concatenation and list replication operators?

In [ ]:
List concetenation concatenates the elements or values using '+' operator.
The replication operator is  '*' which is a multiplication operator

In [36]:
bacon + bacon # list concatenation

[3.14, 11, 'cat', True, 99, 3.14, 11, 'cat', True, 99]

In [40]:
bacon *2 # list replication

[3.14, 11, 'cat', True, 99, 3.14, 11, 'cat', True, 99]

10. What is difference between the list methods append() and insert()?

In [41]:
a=[11,22,33,44,55]

In [42]:
a.append(66)  # append method

In [43]:
a

[11, 22, 33, 44, 55, 66]

In [44]:
a.insert(1,99999)  # insert method

In [45]:
a

[11, 99999, 22, 33, 44, 55, 66]

11. What are the two methods for removing items from a list?

In [54]:
a.append('I will be popped!')

In [55]:
a

[11, 99999, 22, 33, 44, 55, 66, 'I will be popped!']

In [56]:
a.pop() # pop method removes the last item from list

'I will be popped!'

In [57]:
a

[11, 99999, 22, 33, 44, 55, 66]

In [58]:
a.remove(44) # remove method removes which item u want to remove fro  list

In [59]:
a

[11, 99999, 22, 33, 55, 66]

12. Describe how list values and string values are identical.

Both lists and Strings are ordered collection of elements.only difference would be list takes in strings as its elements but string
does not take int values as ints

13. What's the difference between tuples and lists?

In [61]:
l=[1,2,3,4,5]  # list
list are immutable ,values can be added or deleted in the list

In [74]:
l.append(9999999)

In [75]:
l

[1, 2, 3, 4, 5, 9999999]

In [67]:
t=(1,2,3,4,5,6)  #tuple
tuples are immutable meaning values cannot be added to tuple

In [73]:
t.append(99)

AttributeError: 'tuple' object has no attribute 'append'

14. How do you type a tuple value that only contains the integer 42?

In [71]:
tu=(42,)

In [72]:
tu

(42,)

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [78]:
tup=('a',12,'Hippo',22)

In [79]:
list(tup)

['a', 12, 'Hippo', 22]

In [81]:
lst=[100,45,'hello nWorld']

In [82]:
tuple(lst)

(100, 45, 'hello nWorld')

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

In [83]:
They contain strings,numbers,nested lists,tuples,dictionaries .

17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [110]:
lst1=[11,22,33,44]

In [111]:
# = operator

lst2=lst1

In [113]:
lst2,lst1

([11, 22, 33, 44], [11, 22, 33, 44])

In [114]:
lst1[3]=66666

In [116]:
lst1,lst2 # with = change in  lst1 has changed lst2 aswell

([11, 22, 33, 66666], [11, 22, 33, 66666])

In [117]:
### Shallow copy !!!
lst1

[11, 22, 33, 66666]

In [118]:
lst2=lst1.copy()   # Memory locations are same here with =

In [120]:
lst2,lst1

([11, 22, 33, 66666], [11, 22, 33, 66666])

In [121]:
lst2[2]=10000000

In [123]:
lst2,lst1  # with shallow Memory locations are different

([11, 22, 10000000, 66666], [11, 22, 33, 66666])

In [128]:
# shallow copy nested list
l1=[[1,2,3,4],[5,6,7,8]]
l2=l1.copy()

In [131]:
l1

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [132]:
l2

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [134]:
l1[1][3]=9999

In [135]:
l1

[[1, 2, 3, 4], [5, 6, 7, 9999]]

In [136]:
l2

[[1, 2, 3, 4], [5, 6, 7, 9999]]

In [ ]:
# both cvariables are referening to same object in the list

In [139]:
l1.append([22,33,66,77])

In [140]:
l1  # shallow copy feature

[[1, 2, 3, 4], [5, 6, 7, 9999], [22, 33, 66, 77]]

In [143]:
l2 # not appending to l2

[[1, 2, 3, 4], [5, 6, 7, 9999]]

In [145]:
l1,l2

([[1, 2, 3, 4], [5, 6, 7, 9999], [22, 33, 66, 77]],
 [[1, 2, 3, 4], [5, 6, 7, 9999]])

In [146]:
####DEEP copy!!
import copy
new_list1=[111,121,131,141]

new=copy.deepcopy(new_list1)

In [147]:
new_list1

[111, 121, 131, 141]

In [148]:
new

[111, 121, 131, 141]

In [149]:
new[2]=133331

In [151]:
## shallow copy same as deep copy here

new,new_list1    # note the difference !! the values in new_list1 is not changed

([111, 121, 133331, 141], [111, 121, 131, 141])

In [155]:
## shallow nested copy != deepcopy


new_list2=[[122,133,144],[155,166,177]]
new2=copy.deepcopy(new_list2)

In [156]:
new2

[[122, 133, 144], [155, 166, 177]]

In [157]:
new2[1][2]=1888

In [158]:
new2

[[122, 133, 144], [155, 166, 1888]]

In [159]:
new_list2

[[122, 133, 144], [155, 166, 177]]

In [160]:
new2.append(1999)

In [161]:
new2

[[122, 133, 144], [155, 166, 1888], 1999]

In [162]:
new_list2

[[122, 133, 144], [155, 166, 177]]

In [163]:
new_list2[1]=122222

In [164]:
new_list2

[[122, 133, 144], 122222]

In [165]:
new2

[[122, 133, 144], [155, 166, 1888], 1999]